<!-- <app-pagetitle title="{{'PAGE.REPORT.BreadcrumbTitle' | translate}}"
    [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->

<div class="card">
  <div class="card-body" style="min-height: 400px">
    <div class="mb-4">
      <button class="btn btn-info" (click)="reloadData()">
        <span class="mdi mdi-reload mdi-spin mdi-24px"></span> 
      </button>
    </div>
    <div class="row">
      <div class="mb-0 col-md-6">
        <h5>{{ "Chờ chế biến" | translate }}</h5>
        <div class="text-right" style="margin-bottom: -1px">
          <button
          class="btn btn-xl border-info"
          [ngClass]="{ 'btn-active': activeButton === 'priorityButton' }"
          (click)="toggleActive('priorityButton')"
            >
            Theo món
          </button>
          <button
          class="ml-2 btn btn-xl border-info"
          [ngClass]="{ 'btn-active': activeButton === 'tableButton' }"
          (click)="toggleActive('tableButton')"
          >
          Theo bàn
        </button>
      </div>
      <div *ngIf="activeButton == 'priorityButton'">
        <div class="table-responsive">
          <table
            id="basic-datatable"
            class="table table-bordered dt-responsive nowrap no-footer dtr-inline"
          >
            <thead>
              <tr class="bg-table text-center">
                <!-- <th>STT</th> -->
                <th>
                  {{ "Tên món" | translate }}
                </th>
        

                <!-- <th>{{'PAGE.REPORT.Type' | translate}}</th> -->
                <!-- <th *ngIf="role === 'admin'">{{ "Nhóm" | translate }}</th> -->
                <th>Ghi chú</th>
                <th>Số lượng</th>

                <!-- <th>'PAGE.REPORT.Location' </th> -->
                <!-- <th>{{ "Số tiền" | translate }}</th>
                    <th>{{ "Trạng thái" | translate }}</th>
                    <th>{{ "Ngày giao dịch" | translate }}</th> -->
                <!-- <th>Ngày tạo đơn</th>-->
                <!-- <th>Ngày cập nhật</th> -->
                <th>{{ "TABLE.Actions" | translate }}</th>
                <!-- <th>{{'Action' | translate}}</th> -->
              </tr>
            </thead>
            <tbody *ngFor="let data of listData; let i = index">
              <tr class="table-contents">
                <!-- <td>{{i+(pageSize*pageIndex - pageSize + 1)}}</td> -->
                <!-- <td style="text-decoration: underline; color: #204cd9 ;"
                                          (click)="onDetailBooking(data, detailBooking)">#{{data?.id}}</td> -->
                <td>
                  {{ data?.productName ? data?.productName : data?.tableName }}
                </td>

                <td>
                  {{ data?.note ? data?.note : "Không có" }}
                </td>
                <td>
                  {{ data?.inProgress ? data?.inProgress : 1 }}
                </td>
                <!-- <td>
                      <a (click)="viewDetails(data)">{{
                        data.created_at | date : "dd/MM/yyyy HH:mm"
                      }}</a>
                    </td> -->
                <!-- <td>{{data.updated_at | date:'dd/MM/yyyy HH:mm'}}</td> -->

                <td class="text-center">
                  <a
                    style="border: 1px solid red; width: 2rem; height: 1rem"
                    class="font-size-26 text-danger pt-2 mr-2 px-2 rounded"
                    ngbTooltip="{{ 'Chuyển từng món' | translate }}"
                    placement="bottom-left"
                    (click)="toDone(data)"
                  >
                    <i
                      style="font-size: 26px"
                      class="mdi mdi-chevron-right"
                    ></i>
                  </a>
                  <a
                    style="border: 1px solid red; width: 2rem; height: 1rem"
                    class="font-size-26 text-danger pt-2 px-2 rounded"
                    (click)="toDoneAll(data)"
                    ngbTooltip="{{ 'Chuyển tiếp' | translate }}"
                  >
                    <i style="font-size: 26px" class="mdi mdi-skip-next"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-md-between align-items-md-center mt-2">
          <div class="col-sm-12 col-md-5">
            <div
              class="dataTables_info mb-2"
              id="tickets-table_info"
              role="status"
              aria-live="polite"
            >
              {{ "TABLE.Showing" | translate }}
              {{ pageSize * pageIndex - pageSize + 1 }}
              {{ "TABLE.to" | translate }}
              {{ pageSize * (pageIndex - 1) + listData.length }}
              {{ "TABLE.of" | translate }}
              {{ totalElements }}
              {{ "TABLE.entries" | translate }}
            </div>
          </div>
          <!-- Pagination -->
          <div
            class="col-sm-12 col-md-5 d-flex align-items-center justify-content-end"
          >
            <div class="text-md-right float-md-right pagination-rounded">
              <ngb-pagination
                [collectionSize]="totalElements"
                [(page)]="pageIndex"
                [pageSize]="pageSize"
                (pageChange)="fetchDataPending()"
              >
              </ngb-pagination>
            </div>
            <div class="dataTables_length ml-3" id="tickets-table_length">
              <label class="d-inline-flex align-items-center mb-0">
                {{ "TABLE.Show" | translate }}
                <select
                  name="tickets-table_length"
                  aria-controls="tickets-table"
                  name="pageSize"
                  [(ngModel)]="pageSize"
                  (ngModelChange)="pageIndex = 1; fetchDataPending()"
                  class="custom-select custom-select-sm form-control form-control-sm mx-2"
                >
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                {{ "TABLE.entries" | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="activeButton == 'tableButton'">
        <div *ngFor="let data of convertedData; let i = index">
          <button class="ml-2 btn btn-xl" (click)="toggleItems(data)">
            <span class="mdi mdi-arrow-down-thick"></span>
            {{ data?.tableName }}
          </button>
          <div *ngIf="data.showItems">
            <div *ngFor="let item of data.items" class="d-flex justify-content-between my-4">
              <div>{{ item.productName }}</div>
              <div>{{ item.inProgress }}</div>
              <div>{{ item.price }}</div>
              <div>
                <!-- <a
                  style="border: 1px solid red; width: 2rem; height: 1rem"
                  class="font-size-26 text-danger pt-2 mr-2 px-2 rounded"
                  ngbTooltip="{{ 'Chuyển từng món' | translate }}"
                  placement="bottom-left"
                  (click)="toDone(item)"
                >
                  <i style="font-size: 26px" class="mdi mdi-chevron-right"></i>
                </a> -->
                <a
                  style="border: 1px solid red; width: 2rem; height: 1rem"
                  class="font-size-26 text-danger pt-2 px-2 rounded"
                  (click)="toDoneAll(item)"
                  ngbTooltip="{{ 'Chuyển tiếp' | translate }}"
                >
                  <i style="font-size: 26px" class="mdi mdi-skip-next"></i>
                </a>
              </div>
            </div>
          </div>
          <hr>
        </div>
        
      </div>
      </div>
      <div *ngIf="activeButton === 'priorityButton'" class="mb-0 col-md-6">
        <div style="margin-bottom: 3rem">
          <h5>{{ "Đã xong" | translate }}</h5>

          <!-- End search -->
        </div>
        <div class="table-responsive">
          <table
            id="basic-datatable"
            class="table table-bordered dt-responsive nowrap no-footer dtr-inline"
          >
            <thead>
              <tr class="bg-table text-center">
                <th>{{ "Tên món" | translate }}</th>
                <th>Số lượng</th>
                <th>{{ "TABLE.Actions" | translate }}</th>
              </tr>
            </thead>
            <tbody *ngFor="let data of listDataDone; let i = index">
              <tr class="table-contents">
                <td>
                  {{ data?.productName }}
                </td>

                <td>
                  {{ data?.serving ? data?.serving : 1 }}
                </td>
                <td class="text-center">
                  <a
                    style="
                      border: 1px solid rgba(0, 183, 255, 0.651);
                      width: 2rem;
                      height: 1rem;
                    "
                    class="font-size-26 text-info pt-2 px-2 rounded"
                    ngbTooltip="{{ 'Hoàn tác' | translate }}"
                    placement="bottom-left"
                    (click)="toPending(data)"
                  >
                    <i style="font-size: 26px" class="mdi mdi-chevron-left"></i>
                  </a>
                  <a
                    style="
                      border: 1px solid rgba(0, 183, 255, 0.651);
                      width: 2rem;
                      height: 1rem;
                    "
                    class="font-size-26 text-info pt-2 px-2 rounded"
                    ngbTooltip="{{ 'Hoàn tác tất cả' | translate }}"
                    placement="bottom-left"
                    (click)="toPendingAll(data)"
                  >
                    <i
                      style="font-size: 26px"
                      class="mdi mdi-skip-previous"
                    ></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                <div
                  class="dataTables_info mb-2"
                  id="tickets-table_info"
                  role="status"
                  aria-live="polite"
                >
                  {{ "TABLE.Showing" | translate }}
                  {{ pageSize * pageIndex - pageSize + 1 }}
                  {{ "TABLE.to" | translate }}
                  {{ pageSize * (pageIndex - 1) + listData.length }}
                  {{ "TABLE.of" | translate }}
                  {{ totalElements }}
                  {{ "TABLE.entries" | translate }}
                </div>
              </div>
              <div
                class="col-sm-12 col-md-5 d-flex align-items-center justify-content-end"
              >
                <div class="text-md-right float-md-right pagination-rounded">
                  <ngb-pagination
                    [collectionSize]="totalElements"
                    [(page)]="pageIndex"
                    [pageSize]="pageSize"
                    (pageChange)="fetchDataPending()"
                  >
                  </ngb-pagination>
                </div>
                <div class="dataTables_length ml-3" id="tickets-table_length">
                  <label class="d-inline-flex align-items-center mb-0">
                    {{ "TABLE.Show" | translate }}
                    <select
                      name="tickets-table_length"
                      aria-controls="tickets-table"
                      name="pageSize"
                      [(ngModel)]="pageSize"
                      (ngModelChange)="pageIndex = 1; fetchDataPending()"
                      class="custom-select custom-select-sm form-control form-control-sm mx-2"
                    >
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                    </select>
                    {{ "TABLE.entries" | translate }}
                  </label>
                </div>
              </div>
            </div> -->
      </div>
      <div *ngIf="activeButton === 'tableButton'" class="mb-0 col-md-6">
        <div style="margin-bottom: 3rem">
          <h5>{{ "Đã xong" | translate }}</h5>
        </div>
          <div *ngFor="let data of convertedDataDone; let i = index" >
            <button  (click)="toggleItemsDone(data)"
            class="ml-2 btn btn-xl"
            >
              <span class="mdi mdi-arrow-down-thick"></span>
              {{data?.tableName}}
            </button>
            <div *ngIf="data.showItemsDone">
              <div *ngFor="let item of data.items" class="d-flex justify-content-between my-4">
                <div>{{ item.productName }}</div>
                <div>{{ item.serving }}</div>
                <div>{{ item.price }}</div>
                <div>
                  <!-- <a
                    style="
                      border: 1px solid rgba(0, 183, 255, 0.651);
                      width: 2rem;
                      height: 1rem;
                    "
                    class="font-size-26 text-info pt-2 px-2 rounded"
                    ngbTooltip="{{ 'Hoàn tác' | translate }}"
                    placement="bottom-left"
                    (click)="toPending(item)"
                  >
                    <i style="font-size: 26px" class="mdi mdi-chevron-left"></i>
                  </a> -->
                  <a
                    style="
                      border: 1px solid rgba(0, 183, 255, 0.651);
                      width: 2rem;
                      height: 1rem;
                    "
                    class="font-size-26 text-info pt-2 px-2 rounded"
                    ngbTooltip="{{ 'Hoàn tác tất cả' | translate }}"
                    placement="bottom-left"
                    (click)="toPendingAll(item)"
                  >
                    <i
                      style="font-size: 26px"
                      class="mdi mdi-skip-previous"
                    ></i>
                  </a>
                </div>
              </div>
            </div>
            <hr>
      </div>
    </div>
  </div>
</div>


<ng-template #content role="document" let-modal="close">
  <div class="modal-header">
    <h5 class="modal-title">Chuyển một phần</h5>
    <!-- <div *ngIf="makeForm('password').hasError('required')" class="error-message">
                  Mật khẩu không được bỏ trống.
              </div> -->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <div class="text-left">
      <form (ngSubmit)="saveData(formData)" [formGroup]="formData">
        <div class="row">
          <div class="form-group row col-md-12">
            <label class="col-md-2 col-form-label required_label">{{
              "Số lượng" | translate
            }}</label>
            <div class="col-md-10">
              <input
                style="border-radius: 2rem"
                type="number"
                class="form-control"
                value=""
                formControlName="quantity"
                [ngClass]="{
                  'is-invalid': submitted && form.quantity.errors
                }"
              />
            </div>
          </div>
        </div>
        <div class="text-center">
          <button
            type="button"
            class="btn btn-secondary btn-lg mr-3"
            style="width: 150px"
            (click)="modal('close click')"
          >
            {{ "Đóng" | translate }}
          </button>
          <button
            type="submit"
            class="btn btn-success btn-lg"
            style="width: 150px"
          >
            {{ "Lưu" | translate }}
          </button>
          <!-- <button type="button" class="btn btn-secondary btn-sm" style="width: 150px"
                          (click)="modal('close click')">{{'FORM.Close' | translate}}</button>
                      <button type="button" class="btn btn-primary btn-sm ml-3" style="width: 150px"
                          (click)="updateFormNote()">{{'FORM.Save' | translate}}</button> -->
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #detailBooking role="document" let-modal="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ "PAGE.REPORT.IncidentType" | translate }}</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <div class="text-left">
      <!-- <h4>Mã đơn hàng #{{selectedBooking?.id}}</h4> -->
      <div>
        <ng-container *ngIf="selectedBooking as cus">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <label class="col-md-3">{{
                  "PAGE.REPORT.trackCode" | translate
                }}</label>
                <div class="col-md-9">
                  <strong>
                    {{ cus?.code }}
                  </strong>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3">{{
                  "PAGE.REPORT.Location" | translate
                }}</label>
                <div class="col-md-9">
                  <strong>
                    <ng-container *ngIf="cus.location_id; else location_other1">
                      {{ cus?.location_detail?.name }}
                    </ng-container>
                    <ng-template #location_other1>
                      {{ cus?.location_other?.formatted_address }}
                    </ng-template>
                  </strong>
                </div>
              </div>
              <div class="row mt-2">
                <label class="col-md-3">{{
                  "PAGE.REPORT.Detail" | translate
                }}</label>
                <div class="col-md-9">
                  <strong>{{ cus.details }}</strong>
                </div>
              </div>
              <div class="row mt-2">
                <label class="col-md-3">{{
                  "PAGE.REPORT.Type" | translate
                }}</label>
                <div class="col-md-9">
                  <select
                    class="form-control form-control-sm"
                    [(ngModel)]="formUpdate.type_id"
                  >
                    <option [ngValue]="item.id" *ngFor="let item of listType">
                      {{ item.name }}
                    </option>
                  </select>
                  <!-- <strong *ngIf="!cus.``suggest_type">{{cus.incident_type?.name}}</strong> -->
                </div>
              </div>
              <div class="row mt-2" *ngIf="cus.suggest_type">
                <label class="col-md-3">{{
                  "PAGE.REPORT.SuggestIncident" | translate
                }}</label>
                <div class="col-md-9">
                  <strong class="text-danger">{{ cus.suggest_type }}</strong>
                </div>
              </div>
              <div class="row mt-2">
                <label class="col-md-3">{{
                  "TABLE.CreatedDate" | translate
                }}</label>
                <div class="col-md-9">
                  <strong>{{
                    cus.created_at | date : "dd/MM/yyyy HH:mm"
                  }}</strong>
                </div>
              </div>

              <div class="row mt-2">
                <label class="col-md-3">{{
                  "PAGE.REPORT.Image" | translate
                }}</label>
                <div class="col-md-9">
                  <div class="d-flex" style="gap: 5px; overflow: auto">
                    <div
                      class="border rounded clickable d-flex position-relative overflow-hidden"
                      style="
                        padding: 2px;
                        max-width: 200px;
                        max-height: 150px;
                        min-width: 150px;
                        min-height: 150px;
                        border-radius: 5px;
                      "
                      *ngFor="let item of _albums; let index = index"
                    >
                      <img
                        [src]="item.src"
                        [alt]="item.filename"
                        (click)="open(index)"
                        (error)="onImgError($event)"
                        class="img-fluid m-auto mh-100"
                      />
                    </div>
                    <!-- <span class="font-size-13 mt-2 d-block text-danger"
                                                          *ngIf="item.classification">{{item.classification}}</span> -->
                  </div>
                  <!-- <button class="btn btn-sm btn-primary" *ngIf="cus.images?.length > 0"
                                                  (click)="onEdit(cus, content)">{{'PAGE.REPORT.ViewImage' | translate}}</button> -->
                </div>
              </div>
              <div class="row mt-2" *ngIf="cus.imageClasstification">
                <label class="col-md-3">{{
                  "PAGE.REPORT.ImageClasstification" | translate
                }}</label>
                <div class="col-md-9">
                  <strong class="text-danger">{{
                    cus.imageClasstification?.classification
                  }}</strong>
                </div>
              </div>
              <div class="row mt-2">
                <label class="col-md-3">{{
                  "PAGE.REPORT.Status" | translate
                }}</label>
                <div class="col-md-9">
                  <select
                    class="form-control form-control-sm"
                    [(ngModel)]="formUpdate.status"
                  >
                    <option [ngValue]="1">
                      {{ "PAGE.REPORT.New" | translate }}
                    </option>
                    <option [ngValue]="2">
                      {{ "PAGE.REPORT.OnGoing" | translate }}
                    </option>
                    <option [ngValue]="3">
                      {{ "PAGE.REPORT.Pending" | translate }}
                    </option>
                    <option [ngValue]="4">
                      {{ "PAGE.REPORT.Done" | translate }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mt-2">
                <label class="col-md-3">{{
                  "PAGE.REPORT.Note" | translate
                }}</label>
                <div class="col-md-9">
                  <textarea
                    class="form-control form-control-sm"
                    [(ngModel)]="formUpdate.note"
                    rows="3"
                  ></textarea>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4" style="min-height: 280px">
                                      <google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
                                          <map-marker [position]="center">
                                          </map-marker>
                                      </google-map>
                                  </div> -->
          </div>
        </ng-container>
        <div class="text-center mt-5">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            style="width: 150px"
            (click)="modal('close click')"
          >
            {{ "FORM.Close" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-primary btn-sm ml-3"
            style="width: 150px"
            (click)="updateFormNote()"
          >
            {{ "FORM.Save" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentHistory let-modalHis="modal">
  <div class="modal-header">
    <h5 class="modal-title">
      Theo dõi lịch sử đơn hàng #{{ selectedBookingTracks.id }}
    </h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modalHis('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <div class="table-responsive">
      <table
        id="basic-datatable"
        class="table table-bordered dt-responsive nowrap no-footer dtr-inline"
      >
        <thead>
          <tr>
            <th>STT</th>
            <!-- <th>Sự kiện</th> -->
            <th>Trạng thái</th>
            <th>Mô tả</th>
            <th>Thời gian</th>
          </tr>
        </thead>
        <tbody
          *ngFor="
            let data of selectedBookingTracks.order_trackings;
            let i = index
          "
        >
          <tr>
            <td>{{ i + 1 }}</td>
            <td>
              <span *ngIf="data.status == 'waiting' && !data.employee_id"
                >Đơn hàng đang chờ</span
              >
              <span *ngIf="data.status == 'waiting' && data.employee_id"
                >Đơn hàng được chuyển cho nhân viên</span
              >
              <span *ngIf="data.status == 'accepted'">Nhân viên nhận đơn</span>
              <span *ngIf="data.status == 'rejected'"
                >Nhân viên từ chối đơn</span
              >
              <span *ngIf="data.status == 'on_doing'"
                >Đơn đang được thực hiện</span
              >
              <span *ngIf="data.status == 'completed'"
                >Đơn hàng hoàn thanh</span
              >
              <span *ngIf="data.status == 'canceled'">Đơn hàng bị huỷ</span>
              <!-- {{ && 'Đơn hàng đang chờ'}}
                                      {{(data.status == 'waiting' && data.employee_id) && 'Đơn hàng được chuyển cho nhân viên'}}
                                      {{(data.status == 'accepted') && 'Nhân viên nhận đơn'}}
                                      {{(data.status == 'rejected') && 'Nhân viên từ chối đơn'}}
                                      {{(data.status == 'on_doing') && 'Đơn đang được thực hiện'}}
                                      {{(data.status == 'completed') && 'Đơn hàng hoàn thanh'}}
                                      {{(data.status == 'canceled') && 'Đơn hàng bị huỷ'}} -->
            </td>
            <td>
              {{ data.notes }}
              <!-- <span class="badge badge-success" *ngIf="data.body.current_status == 1">Đơn hàng mới</span>
                                      <span class="badge badge-danger" *ngIf="data.body.current_status == 2">Đang tìm nhân
                                          viên</span>
                                      <span class="badge badge-danger" *ngIf="data.body.current_status == 3">Đã được gán</span>
                                      <span class="badge badge-danger" *ngIf="data.body.current_status == 4">Đơn hàng chưa được
                                          tiếp
                                          nhận</span>
                                      <span class="badge badge-danger" *ngIf="data.body.current_status == 5">Đơn hàng bị từ
                                          chối</span>
                                      <span class="badge badge-danger" *ngIf="data.body.current_status == 6">Đang tiến hành</span>
                                      <span class="badge badge-danger" *ngIf="data.body.current_status == 7">Đơn hàng hoàn
                                          thành</span>
                                      <span class="badge badge-danger" *ngIf="data.body.current_status == 8">Đơn hàng bị
                                          huỷ</span> -->
            </td>
            <!-- <td>
                                      <ng-container *ngIf="data.body as d">
                                          <span *ngIf="d.previous_employee != d.employee_assigned">Đổi nhân viên</span>
                                          <span>
                                              {{d.error}}
                                          </span>
                                      </ng-container>
                                  </td> -->
            <td>{{ data.created_at | date : "dd/MM/yyyy HH:mm:ss" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
